##
## Velocity Template for logout flow's concluding view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
<!DOCTYPE html>
<!--[if lte IE 7]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 lte_ie8 lte7"> <![endif]-->
<!--[if IE 8]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 lte_ie8 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="fi" itemtype="http://schema.org/WebPage" class="no-js"><!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Suomi.fi tunnistaminen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/resources/stylesheets/style.css">
        <script src="/resources/js/vendor/modernizr-2.8.3.min.js"></script>
        <!--[if lt IE 9]>
        <script src="/resources/js/vendor/respond.js"></script>
        <![endif]-->
    </head>
    <body id="identification-service">
    <a href="#main" class="visuallyhidden focusable">Siirry suoraan sisältöön</a>
    <header id="page-header" role="banner">
        <div id="header-content" class="container">
            <h1 id="suomi.fi-tunnistaminen" class="site-logo">
                <img src="/resources/img/logo_fi.svg" title="Suomi.fi-tunnistaminen"/>
                <span class="visuallyhidden">Suomi.fi-tunnistaminen</span>
            </h1>
        </div>
    </header>
    <main id="main" role="main" name="main">
        <div class="main idp-logout-page">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div lang="fi">
                            <h2>Kirjauduit ulos</h2>
                            <p>Kirjauduit ulos palvelusta</p>
                        </div>
                        <div lang="sv">
                            <h2>Du har loggat ut</h2>
                            <p>Du har loggat ut från tjänsten</p>
                        </div>
                        <div lang="en">
                            <h2>You have logged out</h2>
                            <p>You have logged out from the service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="page-footer" role="contentinfo">
      <div id="footer-content" class="container">
          <span class="site-logo">
              <img alt="Suomi.fi-tunnistaminen" src="/resources/img/logo_fi.svg">
          </span>
          <div class="footer-links">
            <ul class="footer-links-info">
                <li><a target="_blank" id="footer__tietoa_tunnistautumisesta" href="/sivut/info/tietoapalvelusta/">Tietoa Suomi.fi-tunnistamisesta</a><span class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
                <li><a target="_blank" id="footer__tietosuojaseloste" href="/sivut/info/tietosuojaseloste/">Tietosuojaseloste</a><span class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
            </ul>
            <ul class="footer-links-feedback">
                <li><a target="_blank" id="footer__palaute" href="/sivut/info/palaute/">Anna palautetta</a><span class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
                <li><a target="_blank" id="footer__virhepalaute" href="/sivut/info/virhepalaute/">Ilmoita virheestä</a><span class="sr-only">Linkki avautuu uuteen ikkunaan</span></li>
            </ul>
          </div>
      </div>
    </footer>
    <script src="/resources/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/resources/js/plugins.js"></script>
    <script src="/resources/js/main.js"></script>
    </body>
</html>
