# Shibboleth Identity Provider properties
failure.param.internal=hstint
failure.param.entityid=entid
hst.prompt.url ={{ hst_prompt_url }}

#Certificate util properties
ica.dir.path={{ ica_dir_path }}
ca.dir.path={{ ca_dir_path }}
crl.dir.path={{ crl_dir_path }}

crl.updatetime.validation={{ crl_updatetime_validation }}

#Organization card specific properties
oc.ca.orgname.set={{ oc_ca_cn_name_list }}
vartti.client.endpoint = {{ vartti_client_url }}/vartti/person